body{
    height: 100vh;
    width: 98%;
}
header{
    background-color: rgb(122, 38, 38);
    
}
header img{
    height: 80px;
    margin-top: 40px;
    margin-bottom: 15px;
    margin-left: 180px;
}

.textcontainer{
    background:#98242a;
   
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 25px;


}
.textcontainer h1{
    margin-top: -30px;
    font-weight: 1000;
    font: bold;
    font-family:sans-serif;
    margin-left: 150px;
    font-size: 70px;
    color: white;
}
.textcontainer h2{
    font-weight: 5000;
    font-family: sans-serif;
    margin-left: 150px;
    margin-top: -60px;
}
.textcontainer p1{
    font-family: 'Open Sans',sans-serif;
    margin-top: 10px;
    margin-left: 150px;
    color: white;
    font-size: 23px;
    
}
.textcontainer p2{
    color: white;
     font-family: 'Open Sans',sans-serif;
     
    margin-left: 150px;
    margin-top: 20px;
    font-size: 23px;
}
.triangle {
      width: 0;
    height: 0;
    border-left: 85px solid transparent;
    /* border-right: 50px solid transparent; */
    border-bottom: 80px solid #fff;
    float: right;
    z-index: 1;
    margin-top: -80px;
    
}
.mainheading{
   
    width: 100%;
    height: 100px;
    display: flex;
}
.mainheading img{
    height: 33px;
    margin-top: 63px;
    margin-left:150px ;
}
.bestclubs{
    
    width: 25%;
    height: 100px;
    display: flex;
}
.bestclubs h1{
    margin-left: 15px;
    font-size: 40px;
    margin-top: 50px;
    font-family: sans-serif;
    font-weight: 1000;
}
.mainimages{
   
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
}
.yellowimage{
    
    width: 78%;
    display: flex;

}
.bvb{
   
    display: flex;
    flex-direction: column;
    width: 20%;
    
}
.bvb img{
    margin-left: 20px;
    margin-top: 30px;
    width: 60%;
    height: 120px;
}
.bvb p1{
    font-family: sans-serif;
    font: bold;
    font-weight: 600;
    color: red;
    margin-top: 10px;
margin-left: 30px;
}
.bvb p2{
     font-family: sans-serif;
    font: bold;
    font-weight: 600;
    color: rgb(3, 3, 3);
    
margin-left: 50px;
}
.lastcontainer{
   
    height: 300px;
    width: 100%;
     background-color:#98242a;
     display: flex;
     justify-content: center;
     align-items: center;
}
.lastcontainer h1{
    color: white;
    font-family: sans-serif;
    font-weight: 1000;
    font-size: 40px;
}
.triangle {
      width: 0;
    height: 0;
    border-left: 85px solid transparent;
    /* border-right: 50px solid transparent; */
    border-bottom: 80px solid #fff;
    float: right;
    z-index: 1;
    margin-top: -80px;
    
}