body{
    height: 100vh;
width: 98%;
}
header{
    
    display: flex;


}
header img{
    margin-top: 20px;
    height: 80px;
margin-left: 20px;
margin-bottom: 15px;
}
.container{
    background-color:#98242a;
    display: flex;
    
}

.leftcontainer{
    
   
    width: 50%;
    display: flex;
    flex-direction: column;
   
}
.textcontainer{
    margin-top: 180px;
}
.leftcontainer h1{
    font-family: sans-serif;
    font-weight: 1000;
    margin-left: 100px;
    color: white;
    font-size: 50px;
    margin-bottom: 0;
}
.leftcontainer p{
     margin-left: 100px;
    font-size: 15px;
    font-family: sans-serif;
    
}
.leftcontainer button{
    width: 5px;
    height: 15px;
    justify-content: center;
    align-items: center;
    margin-left: 470px;
}
.button2{
     width: 5px;
    height: 15px;
    justify-content: center;
    align-items: center;
    margin-left: -20px;
}
.leftcontainer h2{
    margin-left: 100px;
    font-size: 20px;
    margin-top: -20px;
    font-family: sans-serif;
    font-weight: 1000;
}
.rightcontainer{

    width: 50%;
}
.container1{

    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}
.container1 input{
width: 400px;
padding: 10px;
background-color: transparent;
border: 2px solid rgb(210, 208, 208);
margin-left: 40px;

}
.container1 input::placeholder{
    color:rgb(210, 208, 208);
}
.container1 input[type="text"]{
    color: white;
}
.container2{
    
    width: 100%;
    
}
.container2 h2{
    font-family: sans-serif;
margin-left: 40px;
margin-top: 10px;
font-weight: 1000;
}
.container2 p{
    font-size: 12px;
    font-family: sans-serif;
    color: white;
    margin-top: -15px;
    margin-left: 40px;
}
.maindiv{
    
    width: 100%;
    height: 120px;
    
}
.upperdiv{
    
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.checkboxss{
   
    width: 50%;
    height: 30px;
    color: white;
    font-family: sans-serif;
    align-items: center;
 align-content: center;
}
.checkboxss input{
       margin-left: 35px;
       accent-color: transparent;
}
.whitebutton{
     
    width: 50%;
    height: 30px;
    align-content: center;
}
.whitebutton button{
    height: 15px;
}
.lowerdiv{
   
    height: 75px;
    width: 100%;
}
.lowerdiv input{
    border: 2px solid rgb(210, 208, 208);
    margin-left: 37px;
    width: 68%;
    background-color: transparent;
    padding-bottom: 50px;
    color: rgb(210, 208, 208);
    word-wrap: break-word;
    
}
.lowerdiv input::placeholder{
    color: rgb(210, 208, 208);

}
.submitbtn{
    
    width: 100%;
    height: 200px;
}
.submitbtn button{
    width: 60%;
   padding: 4px;
    font-size: 24px;
    margin-top: 30px;
    margin-left: 38px;
}
.triangle {
      width: 0;
    height: 0;
    border-left: 85px solid transparent;
    /* border-right: 50px solid transparent; */
    border-bottom: 80px solid #fff;
    float: right;
    z-index: 1;
    margin-top: -80px;
   
}